---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/6278442
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1449776330'
      Last-Modified:
      - Mon, 23 Nov 2015 14:34:37 GMT
      Etag:
      - W/"05dbbed5a36aaf7fd9aa1b849401dfdc"
      X-Oauth-Scopes:
      - gist, notifications, read:org, repo, user
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"the1337sauce","id":6278442,"avatar_url":"https://avatars.githubusercontent.com/u/6278442?v=3","gravatar_id":"","url":"https://api.github.com/users/the1337sauce","html_url":"https://github.com/the1337sauce","followers_url":"https://api.github.com/users/the1337sauce/followers","following_url":"https://api.github.com/users/the1337sauce/following{/other_user}","gists_url":"https://api.github.com/users/the1337sauce/gists{/gist_id}","starred_url":"https://api.github.com/users/the1337sauce/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/the1337sauce/subscriptions","organizations_url":"https://api.github.com/users/the1337sauce/orgs","repos_url":"https://api.github.com/users/the1337sauce/repos","events_url":"https://api.github.com/users/the1337sauce/events{/privacy}","received_events_url":"https://api.github.com/users/the1337sauce/received_events","type":"User","site_admin":false,"name":"Nathaniel
        Linsky","company":null,"blog":"http://www.natelinsky.com","location":null,"email":"linsna01@gmail.com","hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":4,"following":4,"created_at":"2013-12-28T23:04:51Z","updated_at":"2015-11-23T14:34:37Z"}'
  recorded_at: Thu, 10 Dec 2015 18:39:23 GMT
recorded_with: VCR 3.0.0
